body{
    background-image: url(image/bg-5.jpg);
    background-size: cover;
}
.bigTemp{
    font-size: 180px;
}
.lingrad{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 60%);
}

.wethColor{
    color:navy;
}

table, th, td {
    border:1px solid white;
  }

  .kanit{
    font-family: 'Kanit', sans-serif;
  }
